.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 600px;
    margin-top: 200px;
    padding-bottom: 30px;
    background: #fff;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}
.text{
    font-size: 48px;
    color: #3c009d;
    font-weight: 700;
}
.underline{
    width: 90px;
    height: 5px;
    border-radius: 9px;
    background: #3c009d;
}
.inputs{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 400px;
    height: 70px;
    background: #dbd0d0;
    border-radius: 5px;
}
.input img{
    margin: 0 30px;
}
.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #000000;
    font-size: 19px;
}
.forgot-pasword{
    padding-left: 62px;
    margin-top: 27px;
    color: #797979;
    font-size: 18px;
}
.forgot-pasword span{
    cursor: pointer;
    color: #3c009d;
}
.submit-container{
    display: flex;
    gap: 30px;
    margin: 50px auto;
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 58px;
    color: aliceblue;
    background: #3c009d;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}
.gray{
    background: #797979;
    color: #ffffff;
}